<!DOCTYPE html>
<html>
<head>
  <title>BankApp - Deposit</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<header class="bg-gray-800">
  <a 
  class=" button bg-red-800 hover:bg-white text-white font-bold py-2 px-2 border-b-2 border-red-700 hover:border-white rounded hover:text-black my-5 mt-5 mx-3"
  style="box-shadow: none;"
  href="/"
  type="button"
>
  Back to home
</a>
</header>
  <div class="bg-gray-800 flex items-center justify-center h-screen">
    <div class="w-72 p-8 border-2 border-gray-700 rounded-lg bg-black">
      <h1 class="text-center text-white text-2xl mb-8 font-bold underline">DEPOSIT</h1>
      <form>
        <div class="mb-4">
          <label class="block text-sm text-white mb-2 text-center" for="amount">Amount :</label>
          <input class="w-full px-3 py-2 rounded border border-gray-400" type="number" id="amount" name="amount">
        </div>
        <button class="w-full px-4 py-2 rounded bg-red-800 text-white font-semibold" type="submit">Submit</button>
      </form>
      <div class="text-center text-white text-lg mt-4">
        Your current balance is : <span id="currentBalance">{{currentBalance}}</span>
      </div>
    </div>
  </div>

  <script>
    // JavaScript code to update the balance display after deposit
    document.querySelector('form').addEventListener('submit', function (e) {
      e.preventDefault(); // Prevent form submission

      // Retrieve the entered amount from the input field
      var amount = parseInt(document.getElementById('amount').value);

      // Perform AJAX request to deposit the amount and update the balance
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/deposit', true);
      xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
      xhr.onload = function () {
        if (xhr.status === 200) {
          var response = JSON.parse(xhr.responseText);
          var currentBalanceElement = document.getElementById('currentBalance');
          currentBalanceElement.textContent = response.currentBalance;
          alert('Deposit successful!');
        } else {
          var errorResponse = JSON.parse(xhr.responseText);
          alert('Error occurred while depositing. Error: ' + errorResponse.error);
        }
      };
      xhr.send('amount=' + amount);
    });
  </script>
</body>
</html>
